@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comic Neue', cursive;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 109, 238, 1) 100%);
}

.header {
    color: #E52020;
    margin-bottom: 10px;
    font-family: 'Bangers', cursive;
    font-size: 3.5rem;
    letter-spacing: 3px;
    text-shadow: 3px 3px 0 yellow;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border: 10px double #003092;
    background: linear-gradient(135deg, #4568dc, #b06ab3);

}


.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
    border: 2px solid #333;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.cell:hover {
    background: linear-gradient(135deg, lightgreen, yellow);
}


.cell.x::before,
.cell.x::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 70px;
    background-color: red;
    border-radius: 10%;
    border: 1px solid  #FDAB9E;
    box-shadow: 0 0 10px  #E50046;


}

.cell.x::before {
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate(-45deg);
}

.cell.o::before {
    content: '';
    position: absolute;
    width: 65px;
    height: 65px;
    border: 10px solid #00b8ff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 184, 255, 0.7);
}

.resetGame button {
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    margin: 20px;
    padding: 5px;
    color: white;
    cursor: pointer;
    background: linear-gradient(45deg, #00f2fe, #4facfe);
    font-family: "Comic Neue", serif;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.resetGame button:hover {
    background: linear-gradient(45deg, #ffffff, #ee0000 100%);
    color: black;
    transform: scale(1.2);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.resetGame button:active {
    transform: scale(0.9);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
}

#playerTurn {
    font-size: 28px;
    font-weight: bold;
    color: #ffe87b;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;

}
